{% extends 'registration/base.html' %}

{% block main %}
<div class="container">
<div class="table-responsive">
<section>
<h3>パスワードリセット</h3>
<div style="text-align: center; background-color:rgb(243, 243, 243); margin-top: 0;">
<br>
<label><i class="fas fa-check"></i>メールアドレスを入力して、パスワードリセットの手順を開始してください。</label><br>
{% comment %}
<form method="post" action="{% url 'password_reset' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="リセットリンクを送信">
</form>
{% endcomment %}
<form method="post" action="{% url 'password_reset' %}">
<p>
<label for="id_email">メールアドレス（半角英数字）</label><br>
<input type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email">
</p>
<input type="submit" value="リセットリンクを送信">
</form>
<br>
<br>
</div>
</section>
</div>
</div>
{% endblock %}