{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <title>Nagoyameshi</title>

    <link rel="stylesheet" type="text/css" href="{% static 'common/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'nagoyameshi/css/nagoyameshi_style.css' %}">

    <script src="{% static 'nagoyameshi/js/scripts.js' %}"></script>
    
    {# favicon.ico表示 #}
    <link href="{% static 'common/img/favicon.ico' %}" rel="icon">


    {% block extra_head %}

    {% endblock %}

</head>
<body style="margin-top: 0;margin-left: 50px;">
  
<h1><a style="text-decoration: none; color: inherit" class="menu_link" href="http://127.0.0.1:8000/?category_multi=1&category=&search=">Nagoyameshi</a></h1>
  <input id="sidebar_chk" class="sidebar_chk" type="checkbox">
  <div class="sidebar_area">

      <div class="sidebar_content">
          <br>
          <br>
        <ul>
          {% if request.user.is_authenticated %}
          <li><a class="menu_link" href="http://127.0.0.1:8000/?category_multi=1&category=&search=">店舗検索</a></li>
          <br>
          {% endif %}
          
          {% if not request.user.is_authenticated %}
          <li><a href="{% url 'login' %}">ログイン</a></li>
          <br>
          {% else %}
          <!-- 以下をログインしたら表示されるようにしたい -->          
          <li><a class="menu_link" href="http://127.0.0.1:8000/mypage/">マイページ</a></li>
          <br>
          <form action="{% url 'logout' %}" method="post" >
          {% csrf_token %}
          <input id="nav_link" type="submit" style="display: none;" value="ログアウト">
          <div class="nav_labal_area">
            <li><label id="logout_label" for="nav_link">ログアウト</label> </li>
          </div>
          </form>
          {% endif %}
        </ul>
      </div>
       <label class="sidebar_label" for="sidebar_chk">menu</label>
  </div>

  <label class="sidebar_out_area" for="sidebar_chk"></label>
    <main class="container">

        {% block main %}
        {% endblock %}

    </main>
</body>
</html>
