{% extends "nagoyameshi/base.html" %}

{% block extra_head %}
<script>console.log("ここにheadタグに追加するCSSやJSを書く");</script>
{% endblock %}

{% block main %}
<!-- お気に入りの登録やレビュー投稿の成功か失敗かのメッセージ表示 -->
<div class="notify_message_area">
  {% for message in messages %}
  <div class="notify_message notify_message_{{ message.tags }}" style="font-size: small;" >
      <div class="notify_message_content" style="font-size: medium;">{{ message }}</div>
      <div class="notify_message_delete" style="font-size: medium;"><i class="fas fa-times"></i></div>
  </div>
  {% endfor %}
</div>

<div class="container">
<div class="table-responsive">
  {# すでに有料会員登録している場合は、プランにアクセスできるようにする。有料会員ではない場合は、そのリンクを表示させる。#}
  {% if not request.user.paid_member %}
  <form action="{% url 'nagoyameshi:checkout' %}" method="post" style="text-align: right;">
  {% csrf_token %}
  <input class="btn btn-warning" type="submit" value="有料会員登録をする">
  </form>
  <br>
  {% endif %}
<section>
<h3>・・・店舗詳細</h3>
<!-- <h4 style="font-weight: bold;">【{{ restaurant.category }}】{{ restaurant.name }}</h4>  -->
<h4>【{{ restaurant.category }}】{{ restaurant.name }}</h4>  
<table style="width: 100%;">
  <tr>  
  <!-- <h5 style="background: linear-gradient(90deg, lemonchiffon, white);padding-top: 10px;padding-bottom: 5px;">&nbsp;&nbsp;店舗概要</h5> -->
  <h5>&nbsp;&nbsp;店舗概要</h5>
  <td>
          <br>
          <br>  
        <ul class="outline">
          <div class="outline-list"><i class="fas fa-clock"></i>&nbsp;&nbsp;営業時間:{{ restaurant.start }}～{{ restaurant.end }}</div>
            <p class="u-line"></p>
          <div class="outline-list"><i class="fas fa-coin"></i>&nbsp;&nbsp;平均予算:¥{{ restaurant.budget }}</div>
            <p class="u-line"></p>
          <div><i class="fas fa-user"></i>&nbsp;&nbsp;受入可能人数:{{ restaurant.capacity }}人</div>
            <p class="u-line"></p>
          <div>
          <i class="fas fa-envelope"></i>&nbsp;
          <a class="btn btn-info" href="{% url 'nagoyameshi:reservation' restaurant.id %}">予約をする</a>          
          <input type="submit" value="問合せ" class="btn btn-outline-info">
          </div>
          <br>
          <br>
          <!-- お気に入り登録（試し) -->
          <div style="text-align: right;">
            <form action="{% url 'nagoyameshi:fav' restaurant.id %}" method="post">
              {% csrf_token %}
  
            {# アイコンを使ったお気に入り。 #}
              <input id="fav_submit" type="submit" style="display:none;" ,value="お気に入り">
              <label id="fav_check_label"  for="fav_submit">

                {% if is_faved %}
                <div class="on_fav"><i class="fas fa-heart fa-2x"></i></div>
                {% else %}
                <div class="off_fav"><i class="far fa-heart fa-2x"></i></div>
                {% endif %}
              </label>
               
          {% comment %}
          <input id="fav_check" type="checkbox" name="favs" value="1"> 
          <div class="fav_check_label_area">
            <div class="fav_check_label_flex">
                <label class="fav_check_label" for="fav_check"><div class="on_fav" ><i class="fas fa-heart"></i></div><div class="off_fav"><i class="far fa-heart"></i></div></label>
            </div>
          </div>
          {% endcomment %}
          </form>
        </div>

        </ul>
      <td style="text-align: center;">{# img を表示 #}
        {# 画像の保存先の場所 ↓     配信先のURLも含めてURLを生成する必要がある。  #}
        <img src="{{ restaurant.img.url }}" alt="店舗画像" style="width: 70%; height: auto;">
      </td>
    </tr>
  </table>
  </div>
</section>

<h5>&nbsp;&nbsp;店舗説明</h5>
<div>{{ restaurant.description }}</div>
</tr>
</table>  

<br>
<h5>&nbsp;&nbsp;レビュー投稿</h5>

{# ReviewViewを送信先にする。 #}

{# レビューコメント #}
<form action="{% url 'nagoyameshi:review' restaurant.id %}" method="post">

  {# レビューの星の数選択 #}
  <input id="star_radio_1" type="radio" name="stars" value="1">
  <input id="star_radio_2" type="radio" name="stars" value="2">
  <input id="star_radio_3" type="radio" name="stars" value="3">
  <input id="star_radio_4" type="radio" name="stars" value="4">
  <input id="star_radio_5" type="radio" name="stars" value="5">

  <div class="star_radio_label_area">
      <div class="star_radio_label_flex">
          <label class="star_radio_label" for="star_radio_5"><div class="true_star" ><i class="fas fa-star"></i></div><div class="false_star"><i class="far fa-star"></i></div></label>
          <label class="star_radio_label" for="star_radio_4"><div class="true_star" ><i class="fas fa-star"></i></div><div class="false_star"><i class="far fa-star"></i></div></label>
          <label class="star_radio_label" for="star_radio_3"><div class="true_star" ><i class="fas fa-star"></i></div><div class="false_star"><i class="far fa-star"></i></div></label>
          <label class="star_radio_label" for="star_radio_2"><div class="true_star" ><i class="fas fa-star"></i></div><div class="false_star"><i class="far fa-star"></i></div></label>
          <label class="star_radio_label" for="star_radio_1"><div class="true_star" ><i class="fas fa-star"></i></div><div class="false_star"><i class="far fa-star"></i></div></label>
      </div>
  </div>
  <div>
    {% csrf_token %}
    {# <p><input type="text" name="comment"></p> #}


    <textarea name="comment" cols="30" rows="10"></textarea>

  </div>
  <div>
    {% comment %}
    <!-- reutaurant.idはpkで取得して固定値に -->
    <input type="text" name="restaurant_id" value="{{ restaurant.id }}" rendonly>
    <input type="text" name="restaurant" value="{{ restaurant.id }}">
    <!-- <input type="text" name="user" value="{{ request.user.id }}"> -->
    {% endcomment %}

    <input type="submit" value="送信">
  </div>
</form>
<br>

<h4>投稿されたレビュー一覧</h4>

{# contextに与えられたreviewsを使ってレビューを表示 #}
{% for review in reviews %}
<div class="border-top border-bottom">
  <div>投稿者：{{ review.user.username }}さん</div>
  <div>投稿日：{{ review.created_date }}</div>  
    <div class="review_star">
        <span class="review_true_star">{% for s in review.star_icon.true_star %}<i class="fas fa-star"></i>{% endfor %}</span>
        <span class="review_false_star">{% for s in review.star_icon.false_star %}<i class="far fa-star"></i>{% endfor %}</span>
    </div>
    <div>{{ review.comment|linebreaksbr }}</div>
    {% empty %}
    <div>まだレビューはありません。</div>
    {% endfor %}

</div>
{% endblock %}